
    <!-- Footer -->
    <footer id="contact_2">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h4><strong>Contact Info</strong>
                    </h4>
                    <p>{{ page.header.address }} <br> {{ page.header.city }}, {{ page.header.state }} {{ page.header.zip }}, {{ page.header.country }}.</p>

                    <ul class="list-unstyled">
                        <li><i class="fa fa-phone fa-fw"></i>  {{ page.header.phone }}</li>
                        <li><i class="fa fa-envelope-o fa-fw"></i>  <a href="mailto:name@akinian.com"> {{ page.header.email }}</a>
                        </li>
                    </ul>
                    <br>
                    <p> </p>

                    <!-- Social Accounts -->
                    <ul class="list-inline">
                       

                        {% for account in page.header.accounts %}

                            <li>
                                <a href="{{ account.url }}">
                                    <i class="fa fa-{{ account.social }} fa-fw fa-3x"></i>
                                </a>
                            </li>

                        {% endfor %}

    
                     
                    </ul>
                
                </div>
            </div>

        </div>
        {% include 'partials/map.html.twig' %}
        <hr class="small">
        <div class="container">
            <div class="row">
                <p class="text-muted"><?php echo $_SERVER['SERVER_NAME'] ?>  &copy; <?php echo date("Y") ?> </p>
            </div>
        </div>
    </footer>

    <!-- jQuery -->


{% block javascripts %}
    {% do assets.addJs('theme://js/jquery.js',100) %}
    {% do assets.addJs('theme://js/bootstrap.min.js') %}
{% endblock %}
{{ assets.js() }}


 
    <script>
    // Closes the sidebar menu
    $("#menu-close").click(function(e) {
        e.preventDefault();
        console.log('yay');
        $("#sidebar-wrapper").toggleClass("active");
    });

    // Opens the sidebar menu
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });
    // Closes the sidebar menu when the body is clicked
    $('header, footer, aside, section').click(function(e){
        if (e.target.nodeName != 'A' && e.target.nodeName != 'I' && e.target.nodeName != 'IMG') {
            e.preventDefault();
            $("#sidebar-wrapper").removeClass("active");
        }
    });


    // Scrolls to the selected menu item on the page
    $(function() {
        $('a[href*=#]:not([href=#])').click(function() {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });
    </script>

</body>

</html>
